.image-center {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 960px) {
  .image-center {
    width: 50%;
  }
}

.about-us {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.modal {
  margin: 1rem 1rem 1rem 1rem;
  height: 80vh !important;
  max-width: 1000px;
}

.modal-spotify {
  margin: 1rem 1rem 1rem 1rem;
  height: 43vh;
  width: 50vw;
  display: flex;
}

.heart {
  display: inline-block;
  vertical-align: middle;
}

.titulo {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.botoes {
  display: inline-block;
  margin-right: 17px;
}

.enviarCancelar {
  width: 100%;
  text-align: right;
}

.modal-confirmacao {
  margin: 1rem 1rem 1rem 1rem;
}

fieldset {
  margin: 1rem 1rem 1rem 1rem;
  height: 70vh;
  width: 65vw;
  max-width: 500px;
  display: flex;
}

input[type="text"] {
  margin: 10px 10px;
  grid-column: 2 / 3;
}

form {
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-gap: 16px;
  align-items: center;
}

.baleia {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.modal-baleia {
  margin: 1rem 1rem 1rem 1rem;
  height: 250px !important;
}

.modal-padrinho {
  margin: 1rem 1rem 1rem 1rem;
  max-width: 1000px;
}

p {
  font-size: 15px;
}

h2 {
  font-size: 23px;
}

h1 {
  font-size: 27px;
}

div.flip-clock {
  --fcc-flip-duration: 5s; /* transition duration when flip card */
  --fcc-digit-block-width: 40px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-font-size: 40px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 16px; /* font size of label */
  --fcc-label-color: black; /* color of label */
  --fcc-background: #8fb0a9; /* background of digit card */
  --fcc-divider-color: hsla(0, 0%, 100%, 0.4); /* color of divider */
  --fcc-divider-height: 1px; /* height of divider */
  width: fit-content;
  margin: auto;
}

@media only screen and (max-width: 555px) {
  div.flip-clock {
    --fcc-digit-block-width: 23px;
    --fcc-digit-block-height: 46px;
    --fcc-digit-font-size: 33px;
    --fcc-label-font-size: 11px;
    --fcc-separator-size: 0px;
    --fcc-divider-height: 1px;
  }
}

.icons {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

img.dress-code {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.polaroid {
  width: fit-content;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 15px;
}

div.container {
  text-align: center;
  padding: 30px 20px;
}
