.image-center {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 960px) {
  .image-center {
    width: 50%;
  }
}

.modal {
  margin: 1rem 1rem 1rem 1rem;
  height: 80vh !important;
}

.modal-spotify {
  margin:1rem 1rem 1rem 1rem;
  height: 43vh;
  width: 50vw;
  display: flex;
}

.heart {
  display: inline-block;
  vertical-align: middle;
}

.titulo {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.botoes {
  display: inline-block;
  margin-right: 17px;
}

.enviarCancelar {
  width: 100%;
  text-align: right;
}

input[type=text] {
  margin:10px 10px;
}

fieldset{
  margin:1rem 1rem 1rem 1rem;
  height: 15vh;
  width: 65vw;
  display: flex;
}