.image-centered {
  height: '20px';
  width: '20px';
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-text {
  margin: auto;
  padding-top: 5px;
}

.modal-casamento {
  height: 50%;
  display: flex;  
}

.background {
  background-image: url("/Monica_HenriquepxArt.png");
  background-size: cover;
}